body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
    background-color:#EDEEF1;
    margin: 0;
}

.conteneur{
    width: 425px;
    display: flex;
    justify-content: center;
    text-align: center;
}


h2, p{
    margin: 5px;
}
.entete{
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.08);
}
.entete h2{
    color: #1c1e21;
}
.entete p{
    color: #B3B3B3;
    font-size: 17px;
    color: #1c1e21;
}
hr{
    margin-top: 20px;
}
.inscription{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

input{
    font-size: 19px;
}

::placeholder{
    font-size: 20px;
    background-color: white;
}
.nom, .prenom{
    width: 200px;
    height: 40px;
    border: solid;
    border-radius: 10px;
    padding-left: 10px;
    border-color: #B3B3B3;
    outline-color: black;
}

.adresse{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.email, .password{
    width: 97%;
    height: 40px;
    border: solid;
    border-radius: 10px;
    padding-left: 10px;
    border-color: #B3B3B3;
    outline-color: black;
}
.date{
    text-align: start;
    margin-top: 20px;
}
select{
    width: 32%;
    height: 43px;
    border: solid none;
    border-radius: 10px;
    background-color: #eeeef8;
    font-size: 25px;
    border-color: #B3B3B3;
    outline-color: black;
}
.jour{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.femme{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31%;
    border: 1px solid;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    border-color: #B3B3B3;
    outline-color: black;
}
.genre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
label{
    cursor: pointer;
}

button{
    width: 95%;
    height: 44px;
    font-size: 27px;
    border-radius: 10px;
    border: solid;
    color: white;
    background-color: #4BBF2F;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: #1877f2;
}

@media (max-width: 768px){

    .nom, .prenom{
    width: 97%;
    margin: auto;
    }

    .inscription{
    display: flex;
    flex-direction: column;
    }

    .jour{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    }

    select{
    width: 100%;
    }

    .femme{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    }

    .genre{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    }

    .entete{
        width: 100%;
    }

    .conteneur{
        width: 90%;
    }
}